
 <section>  
     <div class="col-md-12">
        <div class="col-md-11">
        
        </div>
        <div class="col-md-1">
             <button type="submit" class="btn btn-danger" ng-click="vmPerfil.cerrar()">cerrar sesion</button> 
        </div>
    </div>       
    <div>
        <label>
            usuario:
        </label>
        {{vmPerfil.username}}
    </div>  
    <br>          
    <div ui-grid="vmPerfil.gridOptions" ui-grid-selection ui-grid-pagination class="grid gridcodigos" > 
</section>